<div class="header">
    <div class="container text-center">
        <img class="logo-img"
            src="../../../../assets/Images/png-transparent-beauty-organic-earth-beauty-beauty-parlour-logo-sandraline-institut-de-beaute-a-geneve-logo-bea-cukai-leaf-photography-cosmetics.png"
            alt="">
        <div class="logo-name">Cosmo</div>
    </div>
    <ul class="nav nav-tabs justify-content-center border-0">
        <li class="nav-item">
            <a class="nav-link " aria-current="page" routerLink="home">Home</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                aria-expanded="false">Categories</a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" routerLink="category" [queryParams]="{type:'Face'}">Face</a></li>
                <li><a class="dropdown-item" routerLink="category" [queryParams]="{type:'Hair'}">Hair</a></li>
                <li><a class="dropdown-item" routerLink="category" [queryParams]="{type:'Body'}">Body</a></li>
                <li><a class="dropdown-item" routerLink="category" [queryParams]="{type:'Kids'}">Kids</a></li>
            </ul>
        </li>
        <li class="nav-item">
            <a class="nav-link">About Us</a>
        </li>
    </ul>
</div>